
<div class="container">
  <div class="container-form">
    <h1><%= @offer.title %> from the user <%= @user_offer.username %></h1>
    <p>Choose the date where you are available</p>
    <%= simple_form_for [ @offer, @coaching ] do |f| %>
      <%= f.input :coaching_date %>
      <%= f.submit "Submit your date", class: "btn-purple" %>
    <% end %>
  </div>
</div>
