<div class="container">
<% if @coaching.validation === 0 %>
  <p>The offre: <%= @offer.title %> is waiting for validation</p>
  <% if @offer.user_id == current_user.id %>
    <%= link_to "Accept",
                  accept_offer_coaching_path(@offer, @coaching),
                  method: :patch,
                  data: { confirm: "Are you sure?" }, class: "btn-purple" %>
    <%= link_to "Refuse",
                  refuse_offer_coaching_path(@offer, @coaching),
                  method: :patch,
                  data: { confirm: "Are you sure?" }, class: "btn-purple" %>
  <% end %>
<% elsif @coaching.validation === 1 %>
  <p>The offre: <%= @offer.title %> is validate</p>
<% elsif @coaching.validation === 2 %>
  <p>The offre: <%= @offer.title %> is not validate</p>
<% end %>
<%= link_to 'Back', root_path %>
</div>
<div class="container">
  <% @coaching.messages.each do |message| %>
      <li class="list-group-item">
        <p><%= message.content %></p>
        <div id="message-data">
          Posted by : <%= message.user.username %> on : <%= message.created_at.strftime("%d %m %Y") %>
        </div>
      </li>
        <% end %>
</div>


<div class="container">
  <div class="container-form p-3">
    <%= simple_form_for [ @offer, @coaching, @message ] do |f| %>
      <%= f.rich_text_area :content %>
      <%= f.submit "Send your message", class: "btn-purple" %>
    <% end %>
  </div>
</div>
