<div class="landing-img">
  <h1>Coach Seeker</h1>
  <h3>Find your coach</h3>
  <%= link_to "Find a coach", offers_path, class: 'btn-purple'  %>
  <%= link_to "Become a coach", new_offer_path, class: 'btn-purple' %>
</div>

<div class="container">
<center><h2>Welcome to Coach Seeker</h2>
<p>If you want to learn a new discipline or you are already an expert wishing to teach people, you are in the right place ! Coach Seeker is a place when student and teacher can meet to make appointement for a teaching lesson !</p></center>
</div>

<div class="container card-container-home">
  <div class="card-home">
    <%= image_tag "start-training.jpg", alt: "logo", class: "img-card-home" %>
    <div class="card-home-info">
      <h2>Find a coach</h2>
      <p>Find the right coach for your needs ! Explore our courses and find the right coach, then book a coaching session ! </p>
      <div class="btn-div">
        <%= link_to "See offers", offers_path, class: 'btn-purple'  %>
      </div>
    </div>
  </div>

  <div class="card-home">
    <%= image_tag "become-coach.jpg", alt: "logo", class: "img-card-home" %>
    <div class="card-home-info">
      <h2>Become a coach</h2>
      <p>Share your knowledge with beginners ! Post your coaching offering and become a coach today !</p>
      <div class="btn-div">
        <%= link_to "Create offer", new_offer_path, class: 'btn-purple' %>
      </div>
     </div>
  </div>
</div>
<div class="container">
  <div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
