<div class="container">
  <h2>All offers</h2>

    <% @offers.each do |offer| %>
      <div class="card">
        <h3><%= offer.title %></h3>
        <p><%= offer.description %></p>
        <span><%= offer.localisation %></span>
        <p><%= offer.discipline %></p>
        <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %>
        <%= link_to "See more", offer_path(offer)  %>
        <% end %>
    </div>

</div>

