<div class="container">
  <h2 class="title-index">All offers</h2>

    <% @offers.each do |offer| %>
      <div class="card-index">
        <div class="image-card-index">
          <% if offer.photo.attached? %>
                <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <%= image_tag("COACH SEEKER.png", size: "400x300") %>
              <% end %>
        </div>
        <div class="info-card-index">
          <div class="text-card-index">
            <h3 class="title-offer"><%= offer.title %></h3>
            <span class="localisation-index"><%= offer.localisation.capitalize %></span> -
            <span class="discipline-index"><%= offer.discipline %></span> -
            <span class="discipline-index">  <%= link_to offer.user.username, my_user_path(offer.user_id) %></span>
            <br>
            <span class="description-index">
              <%if strip_tags(offer.description.to_s).size < 50  %>
                <%= offer.description %>
              <% else %>
                <%= strip_tags(offer.description.to_s).truncate(250) %>...
              <% end %>
            </span>
          </div>
          <div class="btn-index">
            <%= link_to "See more", offer_path(offer), class: "btn-purple"  %>
          </div>

        </div>


      </div>
    <% end %>


</div>
