
<% @offers.each do |offer|  %>
  <h1> <%= offer.title  %></h1>
  <h1><%= offer.description  %></h1>
  <h1><%= offer.localisation  %></h1>
  <h1><%= offer.discipline  %></h1>
  <%# <%= cl_image_tag offer.photo.key, height: 500, width: 500, crop: :fill %> %>
  <%= link_to new_offer_path(offer) do  %>
  <%= icon('fas', 'plus') %> |
  <% end %>
  <%= link_to edit_offer_path(offer) do  %>
  <%= icon('fas', 'edit') %> |
  <% end %>

  <%= link_to root_path do  %>
  <%= icon('fas', 'home') %> |
  <% end %>

<% end %>
