"<div class="container card-offer">
  <div class="card-img" style="background-image: linear-gradient(rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('<%= photo_url(@offer) %>')">
    <h1> <%= @offer.title %></h1>
  </div>
  <div class="card-text">
    <div class="card-description d-flex flex-column justify-content-between">
      <div>
        <p><%= @offer.description  %></p>
      </div>
      <div>
        <%= link_to 'Book this offer !!', new_offer_coaching_path(@offer), class: "btn-purple-validate"%>
      </div>
    </div>

  <div class="card-info">
      <div>
        <p><%= @offer.localisation  %></p>
      </div>
      <div>
        <p><%= @offer.discipline  %></p>
      </div>

       <div>
        <%= avatar_url(@offer) %>
      </div>
      <div>
        <%= link_to @offer.user.username, my_user_path(@offer.user)  %>
      </div>
      <div>
        <p>Number of courses :</p>
        <p><%= Offer.where(user_id: @offer.user).count  %></p>
      </div>

      <div>
        <%= link_to 'Leave a review', new_offer_review_path(@offer), class: "btn-purple" %>
      </div>

      <div class="w-50 mt-2 mb-2 d-flex justify-content-around">
        <%= link_to edit_offer_path(@offer), class: "btn-purple-little" do  %>
        <%= icon('fas', 'edit')  %>
        <% end %>

        <%= link_to root_path, class: "btn-purple-little" do  %>
        <%= icon('fas', 'home') %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="title-review">
    <h3>Review</h3>
  </div>
  <div class="card-offer w-100">
    <% @offer.reviews.each do |review| %>
        <li class="list-group-item">
          <p><%= review.content %></p>
          <div id="review-data">
            Rating :<%= review.rating %>/10
            Posted by : <%= link_to review.user.username, my_user_path(review.user.id)  %> on : <%= review.created_at.strftime("%d %m %Y") %>
          </div>
        </li>
    <% end %>
  </div>
</div>
